.titlecontent{
    margin: 10px 500px 45px 500px;
    padding: 0;
    font-size: 50px;
    color: #BCA581;
}
.headercontainer{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 30px;
    
}
.menucontainer{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}
.menucontent{
    display: flex;
    margin: 10px 50px;
    padding: 0;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    align-items: center;
}
.menucontent:hover{
    color: #59C107;
}